<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                As an undergraduate student in computer science at the <a href="https://www.kean.edu/wenzhou-kean-university">Kean Unbiversity</a> in Wenzhou China (a.k.a. WKU), I feel lucky and excited to be living in this tech-linked world with computer science as my major and future profession. Fascinated with the power and impact of digital technologies, I've worked on CS projects of a variety of types, including machine learning, deep learning, HCI, networking, optimization, web applications, mobile applications, etc. I am particularly interested in AI techniques, which I believe can help keep changing the world to a better and better place.
            </p> 
        </div>
    </section>
</div>
